@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
  @apply bg-p-nav;
}
.p-form-control {
  @apply relative z-0 w-full mb-5;

  input.p-input {
    background: #8db2af !important;
    @apply mb-2 input block w-full focus:outline-none focus:ring-0 bg-p-blue6 text-p-cake focus:bg-p-cream1 transition-all  duration-150 ease-linear disabled:bg-p-blue2 disabled:text-p-blue disabled:opacity-50 disabled:border-none disabled:bg-transparent;

    &:focus {
      background: #ebe6df !important;
      @apply shadow-lg ring ring-p-blue6 ring-offset-1 ring-offset-p-blue;
    }
    &.showd {
      background: transparent !important;
      height: auto !important;
      @apply mt-0 mb-1 p-0 disabled:bg-transparent disabled:text-indigo-100 disabled:opacity-100 disabled:border-none;
    }
    &.icon {
      @apply pl-12;
    }
    &[state='true'] {
      @apply shadow-lg ring ring-green-500 ring-offset-1 ring-offset-green-200;
    }
  }
  .p-select {
    background-color: #c1cac9 !important;

    @apply mb-2 input block w-full focus:outline-none focus:ring-0  text-p-cake  transition-all  duration-150 ease-linear disabled:bg-p-blue2 disabled:text-p-blue disabled:opacity-50;
    &:focus {
      background-color: #ebe6df !important;
      @apply shadow-lg ring ring-p-blue6 ring-offset-1 ring-offset-p-blue;
    }
    option {
      @apply p-2;
    }
    &.showd {
      height: 20px !important;
      background: transparent !important;
      @apply mt-0 mb-1 p-0 disabled:bg-transparent disabled:text-indigo-100 disabled:opacity-100 disabled:border-none;
    }
  }

  label.p-label {
    @apply mb-2 text-sm text-p-cof block w-full;
  }
  .p-error {
    @apply text-xs text-p-orang block w-full mb-2;
  }
  .p-icon {
    @apply absolute inset-y-0 right-0 pr-3 flex items-center text-sm text-p-orang font-bold text-xl;
  }
  .p-submit {
    @apply btn bg-p-orang hover:bg-p-pink2 text-white w-full;
    i {
      @apply ml-2;
    }
  }
  .p-validate {
    @apply mt-1 ml-2;
    ul {
      li {
        @apply text-sm font-light flex items-start leading-tight;
        .fa-check-circle {
          @apply block mr-2 text-p-green text-xs;
        }
        .fa-circle {
          @apply block mr-2 text-p-orang text-xs;
        }
        span {
          @apply block;
        }
      }
    }
  }
  .card {
    @apply bg-p-blue text-white;
    a {
      @apply text-p-cof;
    }
  }
}
.btn-con-nav {
  @apply text-white  ml-4 cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 border border-transparent bg-indigo-700  duration-150 ease-in-out hover:bg-indigo-600 w-10 h-10 rounded flex items-center justify-center transition-all;
  i {
    @apply font-light;
  }
}
.btn-accion {
  @apply text-white ml-4 cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 border border-transparent bg-indigo-700  duration-150 ease-in-out hover:bg-indigo-600 w-8 h-8 rounded flex items-center justify-center transition-all;
}
.lectura {
  .wrap_form_col {
    h3 {
      @apply mt-5;
    }
  }

  .p-form-control {
    @apply relative z-0 w-full mb-2 py-2 px-3 flex items-center text-lg border-b border-indigo-300;
    .p-label {
      @apply w-1/2;
    }
    .p-error {
      @apply hidden;
    }
  }
}
.btn {
  @apply rounded-3xl px-10 py-2 transition-all;
  i.fal {
    @apply ml-2 inline-block;
  }
}
.p-btn {
  @apply focus:outline-none leading-none text-white text-center bg-p-orang  hover:bg-p-pink2 text-sm pt-3 pb-3 px-5 rounded-xl hover:shadow-lg hover:animate-pulse whitespace-nowrap disabled:opacity-50;
  i.fal {
    @apply ml-2 inline-block;
  }
  &.p-btn-primary {
    @apply text-white bg-p-orang  hover:bg-p-pink2;
  }
  &.p-btn-secondary {
    @apply text-white bg-p-blue3  hover:bg-p-blue4;
  }
  &.p-btn-sm {
    @apply text-xs pt-2 pb-2;
  }
  &.p-btn-lg {
    @apply text-lg;
  }
  &.p-btn-full {
    @apply w-full;
  }
}

.p-fade-enter-active,
.p-fade-leave-active {
  @apply animate-fade-in-down;
  /* transition: opacity 0.5s; */
}
.p-fade-enter,
.p-fade-leave-active {
  @apply animate-fade-out-down;
  /* opacity: 0; */
}

.button {
  min-width: 150px;
  max-width: 250px;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
